<div class="row">
  <div class="col-sm-12">
    <app-card>
      <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-4">
            <label>City Name</label>
            <input type="text" formControlName="cityName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cityName.errors }" />
            <div *ngIf="submitted && f.cityName.errors" class="invalid-feedback">
              <div *ngIf="f.cityName.errors.required">City Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-4 text-right">
            <button class="btn btn-primary mr-1">Register</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
        </div>
      </form>
    </app-card>

    <!-- Hover table card start -->
    <app-card [title]="'Hover table'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table-hover</code> inside table element</span>
      <div class="table-responsive" style="padding: 10px 35px;">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Hover table card end -->
  </div>
</div>
